.map {
    width: 100%;
    height: 100%;

    &__wrapper {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

.map-overlay {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    width: 350px;
    z-index: 2;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 0;
    padding: 1.5rem;
    color: #DDDDDD;

    &__heading {
        font-size: 1.4rem;
        margin: 0 0 1rem;
    }

    .form__row {
        display: flex;
    }

    .form__label {
        margin-right: 1rem;

        span {
            position: relative;
            top: 12px;
        }
    }

    .form__input {
        flex: 1;
    }
}
